* {
    font-size: 10px;
}

button {
    padding-top: 4px;
    text-align: center;
    font-weight: bold;
}

.wrap-basket {
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: 700px;
    border: 3px solid grey;
    border-radius: 1%;
}

.wrap-btn {
    display: flex;
    justify-content: space-around;
}




.button-close {
    background-color: orangered;
    color: white;
    border: 0px;
}
.button-close:hover {
    background-color: yellow;
}
.button-turn {
    background-color: gray;
    color: white;
    border: 0px;
}
.button-turn:hover {
    background-color: black;
    color: white;
}
.button-turn-toggle {
    display: none;
}


.button-buy {
    background-color: grey;
    color: white;
    border: 0px;
}
.button-buy:hover {
    background-color: green;
}
.button-del {
    background-color: gray;
    color: white;
    border: 0px;
}
.button-del:hover {
    background-color: orangered;
}

